.kind-count {
    position: absolute;
    display: block;
    width: 79px;
    text-align: center;
    height: 34px;
    border-radius: 19px;
    font: bold;
    margin: 50px 50px 50px 50px;
    top: 30%;
    left: 22%;
}
.break-count{
    left: 68%;
}
.container {
    position: relative;
    text-align: center;
}
