@page "/counter"
    <link href="../Component/Counter.razor.css" rel="stylesheet" />
    <div class="counter">
        @for (int i = 0; i <= 4; i++)
        {
            <div class="tear" style="background-color: @ListTick[i];"> </div>
        }
    </div>
    @code {
        [Parameter]
        public string[] ListTick{ get; set; } = new string[5];
    }
