.Timer{
    width: 260px;
    height: 260px;
    position: relative;
    font: bolder, icon;
    justify-content:center;
    text-align: center;
    left: 42%;
    margin-top:32px;
    font-size:x-large;
    border-radius: 50%;
}
.Timer .container{
    position: absolute;
    left: 61px;
}
.Timer button{
    font: bold;
    border-radius: 8px;
    background-color: rgb(152 136 136);
    color: black;
}